<!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">
      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="../../#intro" class="scrollto">
          <picture>
            <source srcset="../../img/logo-resized.webp" type="image/webp">
            <source srcset="../../img/logo-resized.png" type="image/png">
            <img src="../../img/logo-resized.webp alt="" title="">
          </picture>
        <a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="../../#intro">Home</a></li>
          <li><a href="../../about-us">About</a></li>
          <li><a href="../../#speakers">Speakers</a></li>
          <li><a href="../../#Team">Team</a></li>
          <!-- <li><a href="#venue">Venue</a></li> -->
          <!-- <li><a href="#hotels">Team</a></li> -->
          <li><a href="../../#contact">Contact</a></li>
          <li><a href="../../previous-event">Previous Event</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->