@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #0f0606;
  --light: #FFFFFF;
  --blue: #3b82f666;
  --dark-red: #490000;
  --red: #650000;
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.MuiButtonBase-root{
  color: "#F19F00";
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light);
  background-color: var(--dark);
  scroll-behavior: smooth;
}

#home,
#speakers,
#contact,
#list {
  scroll-margin-top: 120px;
}

#theme {
  background: linear-gradient(to top left, #b0afaf66, #807676, rgba(102, 155, 235, 0.726), #e99f9f, #d7679f66) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 500;
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 50%;
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-red);
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto;
  }
}


@keyframes skewAnimation {
  0% {
    transform: skewX(-15deg);
    left:-8px;
    width:20%;
  }
  100% {
    width: 120%;
    left:-8px;
    transform: skewX(-15deg);
  }
}

@keyframes skewOutAnimation {
  0% {
    transform: skewX(-15deg);
    width:100%;
    left: -8px;
  }
  100% {
    width: 0%;
    left:-8px;

    transform: skewX(-15deg);
  }
}


@keyframes borderAnimation {
  0% {
    border-width: 2px;
  }
  50% {
    border-width: 4px;
  }
  100% {
    border-width: 2px;
  }
}
