@import "tailwindcss";


/* ... */
*::-webkit-scrollbar {
  display: none ;
  width: 0px;
}

.linearGradient{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6825105042016807) 35%, rgba(0,0,0,1) 100%);

}